@import "variables";

//Кнопка
.common-btn{
    background: $primaryColor;
}

.common-btn > .p-button-label{
    font-weight: 400;
}

//Пароль
.password-input > .p-inputtext{
    width: 100%;
}
.password-input > .p-input-icon{
    top: 33%;
}

//Ссылка
.router-link{
    color: $primaryColor;
}

.p-inputtext {
    padding: 0 10px;
}

//Toast
.p-toast-message{
    padding: 10px 15px;
}

.p-toast-message-text{
    margin-left: 10px;
}
